.App {
  background-image: url("./components/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #373a41;
  min-height: 100vh;

  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    min-height: 100vh;
  }
}
